*{
    margin: 0;
    padding: 0;
}

a{
    color: #4b4b4b;
    text-decoration: none;
}

body{
    color: #4b4b4b;
}

/* 头部样式 */
header{
    width: 100%;
}
header>a{
    width: 100%;
    display: block;
}

header>a>img{
    width: 100%;
}
/* 主体样式 */
main{
    padding: 0 5px;
}

main>.item{
    width: 100%;
    height: 100px;
    display: flex;
    margin-top: 10px;
    border-radius: 10px;
}

main>.item>.left{
    flex: 1;
}

main>.item>.right{
    flex: 2;
    display: flex;
    flex-wrap: wrap;
}

main>.item>.right>a{
    width: 50%;
    height: 50px;
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

main>.item>.right>a:nth-last-child(-n+2){
    border-bottom: none;
}

main>section:nth-child(1){
    background-color: rgb(78, 50, 182);
}

main>section:nth-child(2){
    background-color: rgb(31, 153, 209);
}

main>section:nth-child(3){
    background-color: rgb(240, 147, 7);
}

main>section:nth-child(4){
    background-color: rgb(187, 19, 131);
}

main>.extra{
    width: 100%;
    display: flex;
}
main>.extra>a{
    flex: 1;
}

main>.extra>a>img{
    width: 100%;
}
/* 底部样式 */
footer nav{
    display: flex;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    align-items: center;
    height: 36px;
    justify-content: space-evenly;
}

footer nav>a{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer>.link{
    text-align: center;
    padding: 5px 0;
    
}

footer>p{
    text-align: center;
    padding: 5px 0;
    margin-bottom: 10px;
}

